header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header div {
  width: 150px;
  height: 100%;
  background-image: url(../images/logo.png);
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 20px;
}